/* ===== RESET & BODY ===== */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #000 0%, #141414 100%);
  color: #fff;
  margin: 0;
}

/* ===== HEADER ===== */
header {
  background: #e50914;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

/* ===== CONTAINER ===== */
.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 0 15px;
  animation: fadeIn 0.8s ease-in-out;
}

/* ===== VIDEO (IFRAME) ===== */
.video-wrapper {
  position: relative;
  padding-top: 56.25%; /* 16:9 */
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 15px 40px rgba(0,0,0,0.8);
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* ===== TIÊU ĐỀ ===== */
h2 {
  border-left: 4px solid #e50914;
  padding-left: 10px;
  margin-top: 20px;
}

/* ===== COMMENT ===== */
.comment-box {
  margin-top: 10px;
}

.comment-box input,
.comment-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  background: #1c1c1c;
  color: #fff;
}

.comment-box input::placeholder,
.comment-box textarea::placeholder {
  color: #aaa;
}

.comment-box button {
  padding: 10px 15px;
  background: #e50914;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.comment-box button:hover {
  background: #f40612;
  transform: scale(1.05);
}

.comment {
  background: #222;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  animation: slideUp 0.4s ease;
}

.comment:hover {
  background: #2a2a2a;
}

.comment strong {
  color: #f5c518;
}

/* ===== ANIMATION ===== */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0 ;
  right: 0;
  width: 100vw;
  padding: 12px 28px;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  background: transparent;
  border-bottom: 2px solid transparent;
}

.navbar-background-visible {
  background: var(--dark);
  border-bottom: 2px solid var(--dark-lighten);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --dark-lighten: #2a2a2a;
  --dark: #222;
  --dark-darken: #1a1a1a;
  --orange: #ff4112;
  --red: #b12922;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;

  --swiper-theme-color: #b12922 !important;
}

